body{
	background-image: url("https://lh5.googleusercontent.com/e1hw5AKFzI1iBUEoGhCIZi4EJC4N41Yhbji5x8dERmZK7a4TL2T6rmVaCTk=w2400");
	background-size: cover ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center ;
	font-family: 'Shrikhand', cursive;
}

/*body{
	background: url("https://lh5.googleusercontent.com/e1hw5AKFzI1iBUEoGhCIZi4EJC4N41Yhbji5x8dERmZK7a4TL2T6rmVaCTk=w2400")
	no-repeat center center fixed;
	font-family: 'Shrikhand', cursive;
}*/

div{
	background-color: #22F3BF ;
	width: 45%;
	text-align: center;
	border-radius: 29px;
	padding: 25px;
	margin: 150px auto;
	opacity: 0.7;
}

button{
	/*opacity: .5;*/
	border-radius: 35px;
	border-color: black;
	border-style: dashed;
	padding: 15px;
	font-size: 1.3em;
	color: red;
}

h1{
	font-size: 3em;
	color: #1B35BD;
}

p{
	font-size: 1.2em;
	color: #1B35BD;
}

i {
    font-size: 1.5em;
    color: aliceblue;
}